
// 内容区域
.List {
	overflow:hidden;
	padding:16px 16px;
 }
	.ListTitle {
	    font-size: 32px;
	    color: #232326;
	    line-height: 40px;
	}
	.ListPrice {
		padding-top:14px;
	    font-size: 46px;
	    font-family: 'Helvetica';
	    color: #f23030;
	    font-weight: bold;
	    line-height: 46px;
	    span {
	        display: inline-block;
		    font-size: 34px;
		    line-height: 34px;
	    }
	}
	.ListAct {
		padding:16px 0 0 0;
		font-size: 26px;
	    color: #81838e;
	    line-height: 34px;
	    text-align: justify;
	}


// 属性
.attrValue {
	p {
		font-size: 26px;
		color: #81838e;
		line-height: 34px;
		text-align: justify;
	}
}

// 条款
.Refunds {
	overflow:hidden;
	padding:32px 16px;
}

// 底部导航
.bottomNav{
	position: fixed;
	bottom: 0px;
	height: 100px;
	width: 100%;
	background: #fff;
	border-top: 1px solid #ddd;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	> div {
		float: left;
		height: 100px;
	}
 }
	.botNavLeft {
		width: 50%;
	}
	.botNavLeftA{
		padding:16px 16px 4px 16px;
		font-size: 28px;
	}
	.botNavLeftB {
		font-size: 20px;
		padding:8px 0px 0px 16px;
	    font-family: 'Helvetica';
	    color: #f23030;
	    font-weight: bold;
	    span {
	        display: inline-block;
	    }
	}
	.botNavMid {
		background: #ffb03f;
		color: #fff;
		width: 25%;
		>div {
			line-height: 100px;
			text-align: center;
		}
	}
	.botNavRight {
		background: #f23030;
		color: #fff;
		width: 25%;
		>div {
			line-height: 100px;
			text-align: center;
		}
	}
	.bottomPay {
		position: fixed;
		bottom: 0px;
		height: 130px;
		width: 100%;
		background: #fff;
		border-top: 1px solid #ddd;
		div{
			width: 94%;
			height: 80px;
			line-height: 80px;
			font-size: 32px;
			color: #fff;
			background-color: #f23030;
			text-align: center;
			border-radius: 2px;
			margin: 3%;
		}
	}








