
// 内容卡牌区域
.subtitle {
	color: #747894;
	font-size: 36px;
	padding: 30px 0px 30px 30px;
	a:link {
		padding-left: 20px;
		color: #888;
		font-size: 24px;
	}
	a:visited {
		color: #888;
	}
}
.body {
	overflow: hidden;
	padding:16px 32px;
	img{
		height: 306px;
		width: 100%;
	}
}
.Footer {
	position: relative;
	padding-bottom: 10px;
	padding-top: 10px;
}

.List {
	color: #888;
	padding:32px 16px;
	overflow: auto;
	> div {
		width: 720px;
		margin: 0px auto;
	}
	a:link {
		padding-left: 7.5px;
		font-size: 16px;
		color: #888;
		font-size: 24px;
	}
	a:visited {
		color: #888;
	}
}
	.botIcon {
		color: #888;
		padding:10px 16px;
		overflow: auto;
		> div {
			width: 350px;
			margin: 0px auto;
		}
		span {
			position: relative;
			top: -25px;
			font-size: 40px;
		}
	}

// 第二版主页 
.content {
	position: fixed;
	width: 100%;
	height: 100%;
	border-top: 1PX solid #ddd;

	> div {
		float: left;
	}

	.navLeft {
		position: relative;
		height: 100%;
		width: 25%;
		font-size: 0.3rem;

		>div {
			height: 100%;
			font-size: 0.3rem;

			>div {
				padding: 20px 10px;
				font-size: 0.3rem;
			}
		}

		> span {
			position: absolute;
			top: 0px;
			right: 0px;
			height: 100%;
			width: 0.02rem;
			background: #ddd;
		}

		.item {
			position: relative;
			border-right: 1PX solid #ddd;
		}

		.activeItem {
			position: relative;
			background: #fff;
			border-left: 2PX solid #38f;
			border-right: none;
			z-index: 2;
		}
	}

	.main {
		height: 100%;
		width: 75%;
		background: #fff;
		overflow-y: scroll;

		// 顶部的间隔
		> div {
			padding-bottom: 200px;
		}

		// 每个产品
		.productItem {
			border: 1px solid #ddd;
			position: relative;
			width: 100%;
			height: 170px;

			.productItemimg {
				width: 40%;
				height: 150px;
				padding: 10px;
			}

			img {
				width: 100%;
				height: 100%;
			}

			.itemMain {
				position: absolute;
				top: 0px;
				left: 42.5%;
				height: 150px;
				width: 57.2%;
				font-size: 0.2rem;

				>div {
					padding: 10px;
				}

				.productName {
					font-size: 0.25rem;
				}

				.itemOther {
					position: absolute;
					bottom: 0px;
					width: 100%;

					>div {
						float: left;
					}

					.itemproductPrice {
						position: absolute;
						right: 20px;
					}
				}
			}

		}

	}
}


