<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>潜游时光</title>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>
<body>
  <img src="http://www.divingtime.asia/dist/img/logo.jpg" style="display: none;"/>
  <div id="root">
  </div>
</body>
</html>
