.NavL {
	margin:30px auto;
	height: 60px;
	background: #fff;
	overflow: hidden;
	width: 400px;
	border-radius: 8px;
	>div {
		text-align: center;
		line-height:56px;
		width: 196px;
		height: 56px;
		float: left;
	}
	.NavLL {
		color: #108ee9;
		border-left:1px solid #108ee9;
		border-top:1px solid #108ee9;
		border-bottom:1px solid #108ee9;
	}
	.NavLR {
		border:1px solid #888;
	}
}

.NavR {
	margin:30px auto;
	height: 60px;
	background: #fff;
	overflow: hidden;
	width: 400px;
	border-radius: 8px;
	>div {
		text-align: center;
		line-height:56px;
		width: 196px;
		height: 56px;
		float: left;
	}
	.NavRL {
		border:1px solid #888;
	}
	.NavRR {
		color: #108ee9;
		border-right:1px solid #108ee9;
		border-top:1px solid #108ee9;
		border-bottom:1px solid #108ee9;
	}
}



// 淘宝订单
.taobaoList {
	font-size: 28px;
	div {
		position: relative;
		padding-top:2.5px;
		padding-bottom:2.5px;
	}
	span {
		position: absolute;
		left: 3.5rem;
	}
}
.taobaotitle {
	font-size: 30px;
	div {
		position: relative;
	}
	span {
		position: absolute;
		left: 3.5rem;
	}
}




























