.NavL {
	margin:30px auto;
	height: 60px;
	background: #fff;
	overflow: hidden;
	width: 400px;
	border-radius: 8px;
	>div {
		text-align: center;
		line-height:56px;
		width: 196px;
		height: 56px;
		float: left;
	}
	.NavLL {
		color: #108ee9;
		border-left:1px solid #108ee9;
		border-top:1px solid #108ee9;
		border-bottom:1px solid #108ee9;
	}
	.NavLR {
		border:1px solid #888;
	}
}

.NavR {
	margin:30px auto;
	height: 60px;
	background: #fff;
	overflow: hidden;
	width: 400px;
	border-radius: 8px;
	>div {
		text-align: center;
		line-height:56px;
		width: 196px;
		height: 56px;
		float: left;
	}
	.NavRL {
		border:1px solid #888;
	}
	.NavRR {
		color: #108ee9;
		border-right:1px solid #108ee9;
		border-top:1px solid #108ee9;
		border-bottom:1px solid #108ee9;
	}
}



// 淘宝订单
.taobaoList {
	font-size: 28px;
	div {
		position: relative;
		padding-top:2.5px;
		padding-bottom:2.5px;
	}
	span {
		position: absolute;
		left: 3.5rem;
	}
}
.taobaotitle {
	font-size: 30px;
	div {
		position: relative;
	}
	span {
		position: absolute;
		left: 3.5rem;
	}
}



.orderItem {
	padding: 0.25rem 0.25rem 0rem 0.25rem;

	.itemContent {
		position: relative;
		border: 0.01rem solid #ddd;
		background: #fff;

		.ContentImg {
			width: 35%;

			>div {
				padding: 0.2rem;

				>img {
					width: 100%;
					min-height: 200px;
				}
			}
		}

		.ContentRight {
			position: absolute;
			left: 35%;
			width: 65%;
			top: 0px;
			height: 100%;


			.ContentTitle {
				padding-top: 0.2rem;
				padding-right: 0.2rem;
				font-size: 0.3rem;
			}

			.ContentDesc {
				font-size: 0.25rem;
				padding-top: 0.1rem;
				color: #888;
				overflow: hidden; 
				text-overflow: ellipsis;
				display: -webkit-box; 
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2; 
			}

			.ContentBotton {
				position: absolute;
				bottom: 0.3rem;
				width: 100%;
				font-size: 0.25rem;
				color: #888;

				.BottonState {
					position: absolute;
					top: 0px;
					right: 0.2rem;
				}
			}
		}
	}

}
























